<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting type="lsep" label="1"/>
	<setting id="lastdate" type="text" default="2015-01-01" label="27" visible="false"/>
	<setting id="service_call" type="text" default="" label="40" visible="false"/>
	<setting id="service_call_no" type="enum" default="0" label="20" visible="false"/>
	<setting id="startup_no" type="enum" default="0" label="21" visible="false"/>
	<setting id="unauthorized_no" type="enum" default="0" label="22" visible="false"/>
	<setting id="error_no" type="enum" default="0" label="23" visible="false"/>
	<setting id="curtrigger" type="text" default="" label="28"/>
	<setting id="username" type="text" default="" label="41"/>
	<setting id="address" type="text" default="" label="42"/>
	<setting id="telephone" type="enum" default="0" label="43"/>
	<setting id="issue_description" type="text" default="" label="44"/>
    <setting type="lsep" label=""/>
    <!--<setting id="email" type="text" label="31000"/>
    <setting id="skip_oldlog" type="bool" label="31001" default="true"/>-->
</settings>
