<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="100" description="כללי">
		<setting type="lsep" label="10000"/>
		<setting id="General_TimeZone" type="text" default="" label="1"/>
		<setting id="General_Refresh" type="enum" lvalues="2|3" default="" label="3" visible="true"/>
		<setting id="General_StartWindow" type="enum" lvalues="90|91" default="" label="4" visible="true"/>
		<setting id="General_ConnectionScore" type="enum" default="5" values="0|1|2|3|4|5" label="5"/>
		<setting id="General_Connected" type="enum" values="0|1|2|3|4|5" default="0" label="6" visible="true"/>
		<setting id="General_ScriptON" type="bool" default="false" label="7" visible="true"/>
		<setting id="General_CountWait" type="enum" default="0" values="0" label="8"/>
		<setting id="General_CustomVAR" type="text" default="" label="9"/>
		<setting id="General_SubSearch" type="enum" default="0" label="10"/>
		<setting type="lsep" label="10000"/>
	</category>

	<category label="101" description="מנגן עכשיו">
		<setting type="lsep" label="10000"/>
		<setting id="Current_Dialog" type="text" default="" label="43"/>
		<setting id="Current_M_T" type="enum" lvalues="92|93" default="" label="42" visible="true"/>
		<setting id="Current_Watched" type="bool" default="false" label="40" visible="true"/>
		<setting id="Current_Name" type="text" default="" label="52"/>
		<setting id="Current_Source" type="text" default="" label="30"/>
		<setting id="Current_Duration" type="text" default="" label="45"/>
		<setting id="Current_RefreshPoint" type="text" default="" label="46"/>
		<setting id="Current_Subtitle" type="text" default="" label="80"/>
		<setting id="Current_Subtitle1" type="text" default="" label="81"/>
		<setting id="Current_Subtitle2" type="text" default="" label="82"/>
		<setting id="Current_Subtitle3" type="text" default="" label="82"/>
		<setting id="Current_Subtitle4" type="text" default="" label="82"/>
		<setting id="Current_Subtitle5" type="text" default="" label="82"/>
		<setting id="Current_Subtitle6" type="text" default="" label="82"/>
		<setting id="Current_Subtitle7" type="text" default="" label="82"/>
		<setting id="Current_Subtitle8" type="text" default="" label="82"/>
		<setting id="Current_Subtitle9" type="text" default="" label="82"/>
		<setting id="Current_Subtitle10" type="text" default="" label="82"/>
		<setting type="lsep" label="10000"/>
	</category>

	<category label="103" description="סרט אחרון">
		<setting type="lsep" label="10000"/>
		<setting id="LastMovie_Name" type="text" default="" label="50"/>
		<setting id="LastMovie_Source" type="text" default="" label="30"/>
		<setting id="LastMovie_Subtitle" type="text" default="" label="80"/>
		<setting id="LastMovie_Subtitle1" type="text" default="" label="81"/>
		<setting id="LastMovie_Subtitle2" type="text" default="" label="82"/>
		<setting id="LastMovie_Subtitle3" type="text" default="" label="82"/>
		<setting id="LastMovie_Subtitle4" type="text" default="" label="82"/>
		<setting id="LastMovie_Subtitle5" type="text" default="" label="82"/>
		<setting id="LastMovie_Subtitle6" type="text" default="" label="82"/>
		<setting id="LastMovie_Subtitle7" type="text" default="" label="82"/>
		<setting id="LastMovie_Subtitle8" type="text" default="" label="82"/>
		<setting id="LastMovie_Subtitle9" type="text" default="" label="82"/>
		<setting id="LastMovie_Subtitle10" type="text" default="" label="82"/>
		<setting type="lsep" label="10000"/>
	</category>
	<category label="104" description="סדרה אחרונה">
		<setting type="lsep" label="10000"/>
		<setting id="LastTV_Name" type="text" default="" label="51"/>
		<setting id="LastTV_Source" type="text" default="" label="30"/>
		<setting id="LastTV_Subtitle" type="text" default="" label="80"/>
		<setting id="LastTV_Subtitle1" type="text" default="" label="81"/>
		<setting id="LastTV_Subtitle2" type="text" default="" label="82"/>
		<setting id="LastTV_Subtitle3" type="text" default="" label="82"/>
		<setting id="LastTV_Subtitle4" type="text" default="" label="82"/>
		<setting id="LastTV_Subtitle5" type="text" default="" label="82"/>
		<setting id="LastTV_Subtitle6" type="text" default="" label="82"/>
		<setting id="LastTV_Subtitle7" type="text" default="" label="82"/>
		<setting id="LastTV_Subtitle8" type="text" default="" label="82"/>
		<setting id="LastTV_Subtitle9" type="text" default="" label="82"/>
		<setting id="LastTV_Subtitle10" type="text" default="" label="82"/>
		<setting type="lsep" label="10000"/>
	</category>
	<category label="110" description="ניגון אוטומטי">
		<setting type="lsep" label="10000"/>
		<setting id="AutoPlay_Pause" type="bool" default="false" label="70"/>
		<setting id="AutoPlay_SD" type="bool" default="false" label="71"/>
		<setting id="AutoPlay_HD" type="bool" default="true" label="72"/>
		<setting type="lsep" label="10000"/>
	</category>
	<category label="113" description="חפש/הוסף ">
		
	</category>
	<category label="114" description="חפש/הוסף - גוון">
		<setting type="lsep" label="10000"/>
		<setting id="SE_ColorRed" type="text" default="NONE" label="170"/>
		<setting id="SE_ColorRed2" type="text" default="NONE" label="171"/>
		<setting id="SE_ColorRed3" type="text" default="NONE" label="172"/>
		
		<setting id="SE_ColorGreen" type="text" default="NONE" label="173"/>
		<setting id="SE_ColorGreen2" type="text" default="NONE" label="174"/>
		<setting id="SE_ColorGreen3" type="text" default="NONE" label="175"/>
		
		<setting id="SE_ColorPurple" type="text" default="NONE" label="176"/>
		<setting id="SE_ColorPurple2" type="text" default="NONE" label="177"/>
		<setting id="SE_ColorPurple3" type="text" default="NONE" label="178"/>
		<setting type="lsep" label="10000"/>
	</category>
	
</settings>
